<h1> <%= @task.completed ? 'â˜‘ï¸' : 'ðŸ”²' %>  <%= @task.title %> </h1>
<h2> <%=  @task.details %></h2>


<div class="nav_block">
  <%= link_to 'Edit', edit_task_path(@task)  %>
  <%= link_to 'Destroy', destroy_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to 'Back to list',  tasks_path %>
</div>
